<%- include("./layout/head.ejs") %>

<body>
    
    <%- include("./layout/sidebar.ejs") %>

    <div class="h-screen flex flex-col bg-slate-100">

        <%- include("./layout/header.ejs") %>

        <main class="h-screen">
            <div class="">

            </div>
        </main>

        <%- include("./layout/footer.ejs") %>
    </div>
</body>