<aside class="bg-custom w-64 h-screen float-left">
    <div class="px-6 pt-8">
        <img class="h-32 w-32 m-auto rounded-full" src="/img/GOUniversity_logo.jpg" alt="Godfrey Okoye University Logo">
        <p class="pt-3 text-center text-lg font-semibold text-white cursor-default">Library Management System</p>
    </div>
    <hr class="h-px mt-6 bg-slate-500 border-0">
    <nav class="text-white">
        <ul>
           <li class="hover:bg-blue-600"><a class="flex px-16 py-3" href="/dashboard">
            <i class="fa-solid fa-gauge-high py-1 pr-2 text-white"></i> Dashboard
           </a></li>
           <hr class="h-px bg-slate-500 border-0">
           <div class="dropdown">
            <li class="flex px-16 py-3 hover:bg-blue-600 hover:cursor-pointer">
                <i class="fa-solid fa-retweet py-1 pr-2 text-white"></i> Transaction <i class="fa-solid fa-caret-right my-1 mr-2 ml-14 text-white"></i>
            </li>
            <li class="bg-blue-400 hover:bg-blue-300"><a class="flex px-16 py-3" href="/books-loaned">
                <i class="fa-solid fa-right-from-bracket py-1 pr-2 text-white"></i> Books Loaned
            </a></li>
            <li class="bg-blue-400 hover:bg-blue-300"><a class="flex px-16 py-3" href="/books-returned">
                <i class="fa-solid fa-right-to-bracket py-1 pr-2 text-white"></i> Books Returned
            </a></li>
           </div>
           <hr class="h-px bg-slate-500 border-0">
           <li class="hover:bg-blue-600"><a class="flex px-16 py-3" href="/books">
            <i class="fa-solid fa-book py-1 pr-2 text-white"></i> Books
           </a></li>
           <hr class="h-px bg-slate-500 border-0">
           <li class="hover:bg-blue-600"><a class="flex px-16 py-3" href="/patreons">
            <i class="fa-solid fa-user-alt py-1 pr-2 text-white"></i> Patreons
           </a></li>
           <hr class="h-px bg-slate-500 border-0">
           <li class="hover:bg-blue-600"><a class="flex px-16 py-3" href="/report">
            <i class="fa-solid fa-file-alt py-1 pr-2 text-white"></i> Report
           </a></li>
           <hr class="h-px bg-slate-500 border-0">
           <li class="hover:bg-blue-600"><a class="flex px-16 py-3" href="/settings">
            <i class="fa-solid fa-cog py-1 pr-2 text-white"></i> Settings
           </a></li>
        </ul>
    </nav>
</aside>